.header .flex-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .left-box {
        margin-right: 4rem;
        max-width: 46rem;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }

    & .right-box {
        max-width: 56rem;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 56rem;
    }
}

.footer .flex-box {
    align-items: start;
}