.header {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 9rem;
    background-color: $color-primary;

    & .navbar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo {
            height: 100%;

            &__link {
                display: flex;
                align-items: center;
                justify-content: start;
                height: 100%;

                max-width: 11rem;

                & img {
                    width: 100%;
                }
            }
        }

        &__links {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & li {
                list-style: none;
            }
        }

        &__link {
            display: block;
            padding: 2rem 3rem;
            height: 100%;
            color: $color-white;
            border-bottom: 2px solid transparent;
            transition: border 0.4s;

            &:hover {
                border-bottom: 2px solid $color-white;
            }
        }

        &__btn {
            display: block;
            margin-left: 4rem;
            padding: 0.8rem 2.4rem;
            color: $color-white;
            background-color: $color-primary-light-1;

            border-radius: 9rem;
            border: 1px solid transparent;
            transition: all 0.2s;

            @include respond(tab-port) {
                margin: 2rem 0;
                padding: 1rem 5rem;
            }

            &:hover {
                background-color: $color-primary-light-2;
                box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
                transform: translateY(-2px);
                border: 1px solid $color-white;
            }
        }

        & #nav-toggle {
            position: absolute;
            display: none;
        }

        & .icon-burger {
            display: none;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);

            & .line {
                width: 30px;
                height: 3px;
                background-color: $color-white;
                margin: 5px;
                border-radius: 4px;

                transition: all 0.4s ease-in-out;
            }
        }
    }
}

@include respond(tab-port) {
    .header {
        & .navbar {
            width: 100%;

            & .logo {
                width: auto;
                margin: 0 auto;
            }

            &__links {
                position: fixed;
                z-index: 9;
                left: 0;
                right: 0;
                top: 9rem;
                bottom: 100%;
                background-color: rgba($color-black, 0.9);
                height: auto;
                width: auto;
                overflow: hidden;

                flex-direction: column;
                justify-content: space-evenly;

                transition: all 0.4s ease-in-out;
            }

            & .icon-burger {
                display: block;
            }

            & :checked ~ .navbar__links {
                bottom: 20%;
            }

            & :checked ~ .icon-burger .line:nth-child(1) {
                transform: translateY(8px) rotate(225deg);
            }
            & :checked ~ .icon-burger .line:nth-child(2) {
                opacity: 0;
            }
            & :checked ~ .icon-burger .line:nth-child(3) {
                transform: translateY(-8px) rotate(-225deg);
            }
        }
    }
}
