$color-primary: #54A0FF;
$color-primary-light-1: #9abeeb;
$color-primary-light-2: #78a9e7;
$color-secondary: #FF9F43;

$color-black: #2C343F;
$color-white: #fff;


$color-grey: rgba(#2C343F, .7);
$color-grey-dark: rgba(#2C343F, .8);