@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    // font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.navbar__link {
    font-size: 14px;
    line-height: 110%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.navbar__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    text-decoration: none;
}

.section-hero {
    &__title {
        font-family: "Poppins", sans-serif;
        color: $color-white;
        font-size: 7.2rem;
        line-height: 8rem;
        font-weight: 700;
        letter-spacing: 0.5rem;

        @include respond(phone-land) {
            text-align: center;
        }

        @include respond(phone-port) {
            font-size: 6rem;
            line-height: 7rem;
            letter-spacing: 0.3rem;
        }
    }

    &__text {
        margin: 12px 0;
        color: white;
        font-size: 2.2rem;
        line-height: 110%;

        @include respond(phone-land) {
            text-align: center;
        }
    }
}

.section {
    &__title {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 5.5rem;
        text-align: center;
        color: $color-grey-dark;

        @include respond(phone-port) {
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 400;
        text-align: center;
        color: $color-grey;
    }
}

.cta {
    & .section__title {
        font-size: 4.4rem;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;

        @include respond(tab-port) {
            font-size: 4rem;
            text-align: center;
        }
    }

    & .section__text {
        text-align: left;
        line-height: 160%;

        @include respond(tab-port) {
            text-align: center;
        }
    }
}

.footer {
    &__slogan {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1px;
    }

    &__heading {
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 110%;
        text-align: left;
    }

    &__link {
        font-size: 1.3rem;
        line-height: 110%;
        text-decoration: none;
    }
}
